* {
	box-sizing: border-box;
}

:root {
	--greenPrimary: #3C552D;
	--lightPrimary: #e4e5f1;
	--lightSecondary: ;
	--darkPrimary: rgb(30, 30, 30);
	--darkSecondary: ;
	--darkBorder: rgb(100, 100, 100);
	--darkTextColor: #DBD7D2;
	--cardBackground: #2A324A;
	--cardBackgroundHover: #3F4B6F;
}

.diagonal-slide-grid {
    position: relative;
    display: grid;
    height: 100vh;
    align-items: center;    /* Vertically centers the content */
    justify-items: center;  /* Horizontally centers the content */
    background-color: #1e293b; /* Tailwind slate-900 */
    padding-left: 2rem;  /* px-8 */
    padding-right: 2rem; /* px-8 */
}

/*
Portfolio Page
*/

.portfolio-page {
	display: flex;
	height: 100vh;
}

.portfolio-page.dark-mode {
	background-color: var(--darkPrimary);
	color: var(--darkTextColor);
}

.side-bar-column {
	display: flex;
	flex: 0 0 200px;
}

.main-column-A {
	flex: 1;
	position: relative;
	max-width: 400px;
	padding: 15px;
	border-right: 2px solid var(--darkBorder);
}

.main-column-B {
	flex: 1;
	padding: 15px;
	overflow-y: auto;
}

.scroll-list {
	display: flex;
	flex-direction: column;
}

.scroll-to {
	cursor: pointer;
	width: fit-content;
}

.skills {
	text-align: center;
}

#dark-mode-button {
	display: flex;
	margin-top: 10px;
	width: 30px;
	height: 30px;
	border: none;
	outline: none;
	border-radius: 50%;
	align-items: center;
	color: var(--greenPrimary);
	transition: color 0.3s ease, background-color 0.3s ease;
	/* Smooth transition for color and fill */
}

#dark-mode-button:hover {
	background-color: var(--greenPrimary);
	color: #DBD7D2;
}

#dark-mode-button svg {
	width: 22px;
	height: 22px;
}

/* SideBar Comp */
.side-bar-comp {
	height: 100%;
	width: 200px;
	justify-content: space-between;
	background-color: var(--greenPrimary);
	border-right: 2px solid var(--darkBorder);
}

.side-bar img {
	margin: 10px;
	width: 50px;
	height: 50px;
}

.side-bar a {
	display: flex;
	text-decoration: none;
}

.side-bar a h5 {
	padding: 22px 10px 0px 10px;
	color: var(--darkTextColor);
	transition: padding 0.3s ease;
}

.side-bar a:hover {
	h5 {
		padding-left: 25px;
	}
}

/* Card Comp */
.portfolio-page {

	.main-column-A section,
	.main-column-B section {
		border-top: 1px solid var(--darkBorder);
	}

	.card-section {
		background-color: var(--cardBackground);
		min-width: 80%;
		max-width: 80%;
		height: stretch;
		line-height: 1.6;
	}

	.card-section:hover {
		background-color: var(--cardBackgroundHover);
	}

	.card-title {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 10px 20px 5px 20px;
		position: relative;
		font-size: large;
	}

	.card-title::after {
		height: 2px;
		width: 155px;
		background: var(--darkTextColor);
	}

	.card-content {
		padding: 10px 20px 10px 45px;
	}
}

/* Resume Page */
object {
	width: 100%;
	height: 152vh;
}