.top.mob {
  padding: .5rem 1.5rem .5rem 1rem;
  display: flex;
  position: fixed;
  top: 0;
  width: 100vw;
  justify-content: space-between;
  background-color: var(--greenPrimary);
  border-bottom: 1px solid var(--gray-100);
  z-index: 3;

  #slide-btn-mobile {
    position: relative;
    align-self: flex-end;
    top: calc(50% - 15px);
  }
}

.mobile-portfolio {
  h1 {
    padding-top: 47px;
    margin-top: 1vh;
    font-size: min(11vw, 3rem);
  }

  h2 {
    margin-top: 1.5vh;
    font-size: min(8vw, 2.2rem);
  }

  .main-col {
    padding-inline: 4vw;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    #prof-table-mobile {
      flex: 1 1 auto;
      display: flex;
      flex-wrap: wrap;

      .row-mob {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }

      .col-mob {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
      }

      .thin-header {
        font-size: 30px;
        font-weight: 300;
      }

      .skills {
        margin-bottom: 0;
      }
    }

    .card-section {
      margin-bottom: 1rem;
      max-width: max(425px, 80%);
    }
  }
}

.resume-page.mob {
  display: flex;

  /* Resume Page */
  .resume-column.mob {
    height: calc(100vh - 47px);
    margin-top: 47px;
    overflow: hidden;

    object {
      height: inherit;
    }
  }
}

.side-bar-column.mob {
  position: fixed;
  transition: all 1s ease;
}

/* SideBar Comp */
.side-bar-column.mob.hide-side {
  left: -216px;
}

.side-bar-column.mob.show-side {
  left: 0px;
}