.top.mob {
  padding: .5rem 1.5rem .5rem 1rem;
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  background-color: var(--greenPrimary);
  border-bottom: 1px solid var(--gray-100);
  z-index: 3;

  #slide-btn-mobile {
    position: relative;
    align-self: flex-end;
    top: calc(50% - 15px);
  }
}

.mobile-portfolio {
  h1 {
    margin-top: 1vh;
    font-size: min(11vw, 3rem);
  }

  h2 {
    margin-top: 1.5vh;
    font-size: min(8vw, 2.2rem);
  }

  .main-col {
    padding-inline: 4vw;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    #prof-table-mobile {
      display: flex;
      flex-wrap: wrap;

      .thin-header {
        font-size: 30px;
        font-weight: 300;
      }

      .skills p {
        white-space: nowrap;
      }

      #language-col-mobile {
        flex: 1;
        flex-direction: row;
        margin-right: 1rem;
        width: 35.2vw;
      }

      #skills-col-mobile {
        flex: 1;
        flex-direction: row;
        min-width: max(60%, 450px);
        width: 52.8vw;
        flex-wrap: wrap;

        .row {
          display: flex;
        }
      }
    }

    .card-section {
      margin-bottom: 1rem;
      max-width: max(425px, 80%);
    }
  }
}

.resume-page.mob {
  position: relative;

  /* Resume Page */
  .resume-column.mob {
    position: absolute;
    height: calc(100vh - 47px);
    overflow-y: hidden;

    object {
      height: inherit;
    }
  }
}

.side-bar-column.mob {
  position: fixed;
  transition: all 1s ease;
}

/* SideBar Comp */
.side-bar-column.mob.hide-side {
  left: -216px;
}

.side-bar-column.mob.show-side {
  left: 0px;
}