@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
    padding-right: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

:root {
    --mainColor: #A2E4B8;
    --mainColorBright: #08FF08;
    --secondaryColor: #393D47;
    --secondaryColorBright: #DBD7D2;
    --textColor: #eee;
}

p {
    font-size: large;
    text-align: left;
    line-height: 2.0;
    padding-left: 7rem;
    padding-right: 7rem;
}

h3 {
    margin-top: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

h4 {
    margin-top: 0.5rem;
    text-align: center;
}

h5 {
    margin-bottom: 1rem;
}

img {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

footer {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.main-page {
    overflow: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: var(--secondaryColorBright);
    width: 100%;
}

.container {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: none;
}

.error{
    color: red;
}

.success {
    color: green;
}

/*
Home CSS
*/
.writeup p {
    margin: 1rem 3rem 1rem 3rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.list-wrap {
    margin: 0 auto;
    width: 50%;
    border: 1px solid darkslategray;
    text-align: center;
}

.data-flow-img {
    margin: 2rem 5% 2rem 5%;
    max-width: 90%;
}

.logged-out-img {
    margin-left: 5%;
    margin-right: 5%;
    border: 0.4rem solid var(--mainColor);
    max-width: 42.5%;
}

.logged-in-img {
    margin-right: 5%;
    border: 0.4rem solid var(--mainColor);
    max-width: 42.5%;
}

/*
Profile CSS
*/

.login-pad {
    min-width: 22rem;
}

.login {
    background-color: var(--textColor);
}

.logout-pad {
    margin-right: 1rem;
}

.logout {
    background-color: var(--textColor);
}

.delete-pad {
    margin: 0rem 1rem 0rem 1rem;
}

.delete {
    background-color: var(--textColor);
}

/*
Register CSS
*/

.register-pad {
    min-width: 22rem;
}

.register {
    background-color: var(--textColor);
}

/*
Protected-Entry CSS
*/

.entry-form-div {
    position: relative;
    padding: 1rem 1rem 1rem 1rem;
    background-color: var(--textColor);
}

.form-header::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 5rem;
    height: 1px;
    background-color: none; /* Change to your preferred line color */
    z-index: 1;
}

.entry-table-frame {
    margin-left: 1rem;
    padding: 1rem 1rem 1rem 1rem;
    width: 70%;
    min-width: 45rem;
    background-color: var(--textColor);
}

.entry-table {
    justify-content: flex-start;
}

.type-chart-title {
    text-align: start !important;
}

.ammo-parent {
    position: relative;
    padding: 1rem 1rem 1rem 1rem;
    max-width: 100%;
    background-color: var(--textColor);
}

.dropdown {
    padding: 0rem;
    width: 1.75rem;
    margin-bottom: .5rem;
}
