@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

:root {
    --mainColor: #A2E4B8;
    --mainColorBright: #08FF08;
    --secondaryColor: #393D47;
    --secondaryColorBright: #DBD7D2;
    --textColor: #eee;
}

h3 {
    margin-top: 1rem;
    margin-left: 5rem;
}

h4 {
    text-align: center;
}

h5 {
    margin-bottom: 1rem;
}

.btn {
    margin-top: 1rem;
    min-width: 7rem;
}

.main-page {
    overflow: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: var(--secondaryColorBright);
    width: 100%;
}

.container {
    margin-top: 2rem;
    padding-top: 1rem;
    min-width: 100rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    h7 {
        margin: center;
    }
}



/*
Protected-Entry CSS
*/

.entry-form {
    position: relative;
    padding: 1rem 1rem 1rem 1rem;
    background-color: var(--textColor);
}

.entry-form::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 4rem;
    height: 1px;
    background-color: black; /* Change to your preferred line color */
    z-index: 1;
}

.entry-table {
    margin-left: 2rem;
    padding: 1rem 1rem 1rem 1rem;
    max-width: 60%;
    min-width: 40%;
    background-color: var(--textColor);
}

/*
Login CSS
*/
.profile {
    margin-left: 3rem;
}

.register {
    margin-left: 3rem;
}

.logout {
    padding: 1rem 1rem 1rem 1rem;
}

.delete {
    padding: 1rem 1rem 1rem 1rem;
}

/*
Home
*/
p {
    margin: 1rem 3rem 1rem 3rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    text-align: center;

}

.list-wrap {
    margin: 0 auto;
    width: 50%;
    border: 1px solid black;
    text-align: center;
}

