/* Diagonal Grid */
.diagonal-grid {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #1a202c;
	/* Slate-900 equivalent */
}

.square-grid {
	display: grid;
	grid-template-columns: repeat(30, 1rem);
	/* 30 columns, 1rem wide each */
	grid-template-rows: repeat(20, 1rem);
	/* 20 rows, 1rem tall each */
	gap: 10px;
	/* Add gap between the squares */
}

.square-group {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	padding: 2px;
  }

  .square-group:hover .square-point {
	background: linear-gradient(to bottom, #4c51bf, #000000); /* Hover effect */
	opacity: 1;
  }

.square-point {
	display: flex;
	align-items: center;
	height: 8px;
	width: 8px;
	background-color: white;
	opacity: 50%;
}

/* Card Comp */
.card-section {
	margin: 3vh 1vw 3vh 1vw;
	display: flex;
	flex-direction: column;
	color: var(--darkTextColor);
	min-width: 385px;
	max-width: 385px;
	height: 200px;
}

.card-block {
	padding: 0vh 1vh 0vh 1vh;
	justify-content: space-evenly;
	display: flex;
	flex-direction: row;
	overflow-x: scroll;
}

.card-title {
	padding: 2vh 1vh 1vh 2vh;
	font-size: large;
	position: relative;
}

.card-title::after {
	content: " ";
	right: 0;
	display: block;
	height: 2px;
	width: 125px;
	position: absolute;
	top: 100%;
}

.card-content {
	padding: 1vh 1vh 1vh 3vh;
}

/* Button Comp */
.btn {
	margin-top: 1vh;
	min-width: 8vw;
}

/* Navbar Comp */
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 11vh;
	background-color: var(--secondaryColor);
	color: var(--textColor);
}

.nav-bar {
	display: flex;
	flex-grow: 1;
	align-items: center;
	justify-content: space-around;
}

.nav-bar a {
	margin: 2vh;
	color: var(--mainColor);
	text-decoration: none;
}

.nav-bar a:hover {
	color: var(--mainColorBright);
}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--mainColor);
	visibility: hidden;
	opacity: 0;
	font-size: 3vh;
}

/*  pop down when width < 1025 pixels */
@media only screen and (max-width: 1025px) {
	header {
		padding-right: 2rem;
	}

	header .nav-btn {
		position: absolute;
		visibility: visible;
		opacity: 1;
		right: 2rem;
	}

	header .nav-bar {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--secondaryColor);
		transition: 1s;
		transform: translateY(-100vh);
		z-index: 99;
	}

	header .responsive_nav {
		transform: none;
	}

	.nav-bar .nav-close-btn {
		position: absolute;
		top: 1rem;
		right: 2rem;
	}

	.nav-bar a {
		font-size: 1.5rem;
	}
}