/*
Card Comp
*/
.card-section {
	margin: 30px 20px 25px 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	background-color: #43423A;
	min-width: 385px;
	max-width: 385px;
	height: 200px;
}

.card-block {
    padding: 0rem 1rem 0rem 1rem;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.card-title {
	padding: 2vh 1vh 1vh 2vh;
	font-size: large;
	color: #DBD7D2;
	width: 100%;
	position: relative;
	
}

.card-title::after {
	content: " ";
	right: 0;
	display: block;
	height: 2px;
	width: 125px;
	position: absolute;
	top: 100%;
	background: #DBD7D2;
}

.card-content {
	padding: 1vh 1vh 1vh 3vh;
	color: #DBD7D2;
}



/*
Button Comp
*/

.btn {
	margin-top: 1rem;
	min-width: 8rem;
}

/* 
Navbar Comp
*/
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	background-color: var(--secondaryColor);
	color: var(--textColor);
}

.nav-bar {
	display: flex;
	flex-grow: 1;
	align-items: center;
	justify-content: space-around;
}

.nav-bar a {
	margin: 2vw;
	color: var(--mainColor);
	text-decoration: none;
}

.nav-bar a:hover {
	color: var(--mainColorBright);
}

header .nav-btn {
	padding: 5px;
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--mainColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

/* 
pop down when width < 925 pixels 
*/
@media only screen and (max-width: 1025px) {
	header {
		padding-right: 2rem;
	}

	header .nav-btn {
		position: absolute;
		visibility: visible;
		opacity: 1;
		right: 2rem;
	}

	header .nav-bar {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--secondaryColor);
		transition: 1s;
		transform: translateY(-100vh);
		z-index: 99;
	}

	header .responsive_nav {
		transform: none;
	}

	.nav-bar .nav-close-btn {
		position: absolute;
		top: 1rem;
		right: 2rem;
	}

	.nav-bar a {
		font-size: 1.5rem;
	}
}