
/* Card Comp */
.card-title {
  flex-wrap: wrap;
  padding: 2vw 2vw 1vw 2vw;
  font-size: calc(12px + 1.5vw);
  position: relative;
}

.card-content {
  padding: 1vw 2vw 4vw 6vw;
}

/* SideBar Comp */
.side-bar-comp.mobile {
  z-index: 100;

  .back-btn-container {
    display: flex;
    height: 30px;
  }
}